/* FONTES */

@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&family=Josefin+Sans:wght@100;300;400;700&display=swap');

/* CORPO */

body {
    font-family: 'Josefin Sans';
    margin: 0;
    background-image: url(../img/planodefundo.jpg);
    height: 900px;
}

div {
    position: absolute;
    top: 50%;
    left: 50%;
    margin: -276.5px 0 0 -226.4px;
}

form {
    background-color: white;
    padding: 10px;
    box-shadow: 0 1px 8px gray;
    border: none;
    border-radius: 25px;
    font-size: 24px;
    font-family:  'Josefin Sans';
    font-weight: bold;
    color: orange;
}

input {
    background-color: white;
    border: #d2d2d2 solid 1px;
    border-radius: 10px;
    padding: 15px;
    width: 180px;
    font-family: 'Josefin Sans';
    font-weight: bold;
    font-size: 15px;
    margin: 10px 0 0 0;  
}

input.email {
    font-family: 'Josefin Sans';
    width: 400px;
}

input.botao {
    word-wrap: normal;
    width: 430px;
    color: white;
    background-image: linear-gradient(orange, #FF941C);
    border: none;
    font-family: 'Josefin Sans';
    cursor: pointer;
}

input.botao:hover {
    opacity: 0.7;
}

input, textarea {
    outline: none;
}

label {
    font-weight: bold;
    font-family: 'Josefin Sans';
}

#mensagem {
    padding: 10px;
    border: #d2d2d2 solid 1px;
    text-align: left;
    font-size: 15px;
    font-weight: normal;
    min-width: 410px;
    max-width: 410px;
    min-height: 200px;
    max-height: 200px;
}